$color1: #000000;
$border: none;
$width: 150px;
$margin: 5px;
$border-radius: 5px;
$padding: 20px;

body {
  font-family: "Courier New";
  font-size: 30px;
}

.header {
  width: 500px;
  height: auto;
  background: #f18c8e;
  padding: 20px 20px 30px 20px;
  border-radius: $border-radius;
  color: $color1;
}
.title {
  text-align: center;
  color: #eee;
  font-weight: 1000px;
}

.bil {
  width: 300px;
  margin: 10px;
  border: $border;
  font-size: 14pt;
  border-radius: $border-radius;
  padding: $padding;
}

.oprs {
  font-size: 16pt;
  border: $border;
  width: 150px;
  margin: 5px;
  border-radius: $border-radius;
  padding: $padding;
}

.header.tombol {
  font-size: 16pt;
  border: none;
  width: 150px;
  margin: $margin;
  border-radius: $border-radius;
  padding: $padding;
  font-size: 17pt;
}
.hasil {
  width: 280px;
  margin: 10px;
  border: $border;
  font-size: 14pt;
  border-radius: $border-radius;
  padding: $padding;
}
